  .App {
  text-align: center;
}

.bg{
  min-width:100vw;
  min-height:100vh;
  z-index:-1;
  background:no-repeat;
  background-size:120%;
  filter: blur(2px);
  background-image:url('/public/back.jpg');
}
.text{
  text-align: justify;
  text-indent: 25px;
}

.content{
  border-collapse: separate; 
  border-radius:15px;
}

.logos{
  height: 300px;
}
